[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/testing-in-chrome
[access "refs/for/refs/*"]
	read = group user/testing-in-chrome
	push = group user/testing-in-chrome
	label-Code-Review = -2..+2 group user/testing-in-chrome
	label-Verified = -1..+1 group user/testing-in-chrome
	rebase = group user/testing-in-chrome
	removeReviewer = group user/testing-in-chrome
	submit = group user/testing-in-chrome
[access "refs/heads/*"]
	read = group user/testing-in-chrome
	create = group user/testing-in-chrome
	push = +force group user/testing-in-chrome
	pushMerge = group user/testing-in-chrome
[access "refs/tags/*"]
	push = +force group user/testing-in-chrome
	pushTag = group user/testing-in-chrome
	pushSignedTag = group user/testing-in-chrome
[receive]
	requireSignedOffBy = true
[submit]
	mergeContent = false
